<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
    <title>List of points</title>
</head>
<body>

<div layout:fragment="content">

    <h2>Map points</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="point : ${points}">
            <td th:text="${point.name}">title</td>
            <td th:text="${point.description}">slug</td>
            <td th:text="${point.category}">author</td>
            <td><a href="#" th:href="@{/admin/list/view/} + ${point.id}">View</a></td>
            <td><a href="#" th:href="@{/admin/list/edit/} + ${point.id}">Edit</a></td>
            <td><a href="#" th:href="@{/admin/list/delete/} + ${point.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/admin/list/create}">Add new point</a>
    <br/><br/>

    <p th:if="${points.size() == 0}">
    <div class="alert alert-warning" role="alert">No points found.</div>
    </p>

</div>

</body>
</html>