<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
    <meta charset="utf-8"/>
    <title>Create New Point</title>
    <link rel="stylesheet" type="text/css" href="../../../css/leaflet.css" />
    <script type='text/javascript' src='../../../js/leaflet.js'></script>
    <script type='text/javascript' src='../../../js/jquery.min.js'></script>
    <script type='text/javascript' src='../../../js/map/marker-edit.js'></script>

</head>
<body>

<div layout:fragment="content">

    <h2>Create New Point</h2>
    <br/>

    <form class="form-horizontal" th:object="${point}" th:action="@{/admin/list/save}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label class="col-sm-2 control-label">Name: </label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{name}" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Description: </label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{description}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Latitude:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{lat}" id="lat"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Longitude: </label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{lng}" id="lng"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Article URL: </label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{url}" id="url"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Icon name: </label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{icon}" id="icon"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Category: </label>
            <div class="col-md-10">
                <!-- loop over available categories -->
                <select class="form-control" th:field="*{category}">
                    <option value="">Select category</option>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">Categories</option>
                </select>
            </div>
        </div>

        <div id="map" style="height:500px"></div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>
</body>
</html>