<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
    <title th:text="|View Post - ${point.name}|">View Post</title>
</head>
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/point/list">Posts</a></li>
        <li class="active" th:text="${point.name}"></li>
    </ol>

    <article>
        <header>
            <h2 th:text="${point.name}">title</h2>
        </header>
            <section th:utext="${point.description}">
            body
        </section>
        <footer>
            <address>
                Category:  <span th:text="${point.category}"> </span><br>
                Position:<span th:text="${point.lat}"></span> x <span th:text="${point.lng}"> </span>  ${point.lat} x ${point.lng}

            </address>
        </footer>
        <hr/>
    </article>

</div>

</body>
</html>